body {
  background-color: rgb(244, 197, 253);
}
h1 {
  text-align: center;
}
p {
  display: block;
  text-align: center;
  margin: 25px 25px 25px;
}
.croissant-photo {
  max-width: 25%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
footer {
  text-align: center;
}
